@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap');

:root {


  --theme-color1: #60A5FA;
  --theme-color2: #A78BFA;


  --accent2: #f5f5f5;
  --accent3: #262626;
  --white-color: #ffffff;
  --black-color: #000000;
  --head-font-color: #1F2937;
  --body-color: #6B7280;


  --font-heading: "Caveat", sans-serif;
  --font-body: "Outfit", sans-serif;



--xxx-small-font-size: 0.625rem;
  --xx-small-font-size: .75rem;
  --small-font-size: 0.875rem;
  --title-font-size: 1rem;
  --para-font-size: 1.375rem;
  --head-font-size: 4rem;
  --headxxl-font-size: 5rem;

  --common-btn-size: 1.125rem;


  --bg-back: #E0E7FF;

  --transition-05s: all ease-in-out 0.5s;
  --transition-08s: all ease-in-out 0.8s;



}

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-body);
  background: #E0E7FF;
  color: var(--body-color);
}



::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 1rem;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9191918e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9191918e;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9191918e transparent;
}

.common-btn {
  background-color: var(--theme-color2);
  color: var(--white-color);
  border: 1px solid var(--theme-color2);
  padding: 1.313rem 2.813rem;
  font-size: var(--common-btn-size);
  font-weight: 700;
  border-radius: 200px;
  text-transform: capitalize;
  transition: var(--transition-05s);
}

.common-btn:hover,
.common-btn:focus,
.common-btn:visited,
.common-btn:active,
.common-btn:focus-visible,
.common-btn:focus-within {
  background-color: var(--accent3);
  color: var(--white-color);
  border: 1px solid var(--accent3);
  transition: var(--transition-05s);
}


.common-btn2 {
  background-color: var(--white-color2);
  color: var(--accent3);
  border: 1px solid var(--accent3);
  padding: 1.313rem 2.813rem;
  font-size: var(--common-btn-size);
  font-weight: 700;
  border-radius: 200px;
  text-transform: capitalize;
  transition: var(--transition-05s);
}

.common-btn2:hover,
.common-btn2:focus,
.common-btn2:visited,
.common-btn2:active,
.common-btn2:focus-visible,
.common-btn2:focus-within {
   background-color: var(--white-color2);
  color: var(--theme-color2);
  border: 1px solid var(--theme-color2);
  transition: var(--transition-05s);
}

button.with_arrow {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

a{
  transition: var(--transition-05s);
}